In [17]:
import pandas as pd
import numpy 
from bs4 import BeautifulSoup
import unidecode
import unicodedata
import nltk
from nltk.tokenize import ToktokTokenizer
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import re
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/kavyabaltha/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [18]:
train_data = pd.read_csv('Train_data.csv', header = None)
test_data = pd.read_csv('Test_data.csv', header = None)

In [19]:
train_data.head()

   0                                                  1
0 -1  Eat at Fioris, they said.  Youll like it, they...
1 -1  I just don't understand the appeal.  I've trie...
2  1  This is my go to place for a really good beef ...
3 -1  Not impressed. When I ordered the Oyako bowl, ...
4 -1  This is the first time ever I wrote a bad revi...

In [20]:
train_data.columns=['Sentiment', 'Review']
test_data.columns=['Sentiment']

In [21]:
train_data.head()

   Sentiment                                             Review
0         -1  Eat at Fioris, they said.  Youll like it, they...
1         -1  I just don't understand the appeal.  I've trie...
2          1  This is my go to place for a really good beef ...
3         -1  Not impressed. When I ordered the Oyako bowl, ...
4         -1  This is the first time ever I wrote a bad revi...

In [22]:
test_data.head()

                                           Sentiment
0  Got take-out from here last night and it was H...
1  Girls are sweet and prices are reasonable. The...
2  Rudest people I have ever encountered.  Husban...
3  This airport is only coveted for the destinati...
4  The last 4 months have shown a steady decline ...